//Colors
/* Primary Color palette*/
$prim-1: #e0c4f0;
$prim-2: #c58de4;
$prim-3: #b265dc;
$prim-4: #a444d9;
$prim-5: #9a1fdd;
/* Secondary color #1 */
$sec1-1: #f6c6e1;
$sec1-2: #ef8fc5;
$sec1-3: #ea64b0;
$sec1-4: #e83f9f;
$sec1-5: #eb168e;

/* Secondary color #3 */
$sec2-1: #d1c7f1;
$sec2-2: #a794e6;
$sec2-3: #886ede;
$sec2-4: #704edc;
$sec2-5: #572cdf;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
